.event {
    
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    color: transparent;
}

.events {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 300%;

    
    color: #121212;
    
}